#h3,body {
  margin: 1em;
  padding: 0;
  font-family: Google Sans, Noto, Roboto, Helvetica Neue, sans-serif;
  color: #000000;
}

#BROCHERi {
    height: 140px;
    text-align: center;
    margin:auto;
    
}
#BROCHERy {
    height: 140px;
    text-align: center;
    margin:auto;
}
#BROCHERve {
    height: 140px;
    
    text-align: center;
    margin:auto;
    
}
#BROCHERt {
    height: 140px;
    
    text-align: center;
    margin:auto;
    
}
#BROCHERr {
    height: 140px;
    text-align: center;
    margin:auto;
    
}
#BROCHERe {
    height: 140px;
   text-align: center;
    margin:auto;
    
}
#BROCHERw {
    height: 140px;
    text-align: center;
    margin:auto;
    
}
#BROCHERq {
    height: 140px;
    text-align: center;
    margin:auto;
    
}
#BROCHERu {
    height: 140px;
    text-align: center;
    margin:auto;
    
}
#BROCHERv {
    height: 140px;
    text-align: center;
    margin:auto;
    
}
#BROCHER {
    height: 0px;
    text-align: center;
    margin:auto;
    
  
    
}


/* This styles the aside container */

#aSide {
  margin: 3em auto;
  flex-direction: column;
  max-width: 281px;
  max-height: 0px;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  overflow: inherit;
  color: #000000;
  padding-bottom: 600px;
}


/* This styles the 3D object inserted in the aside container */

#aSide model-viewer {
    width: 100%;
    height: 500px;
}
#aSid {
   margin: 3em auto;
  flex-direction: column;
  max-width: 281px;
  max-height: 0px;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  overflow: inherit;
  color: #000000;
  padding-bottom: 600px;
}


/* This styles the 3D object inserted in the aside container */

#aSid model-viewer {
     width: 100%;
    height: 500px;
}
#aver {
    height: 800px;
    width: 500px;
    margin:auto;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    border-radius:15px;
}
/* This styles the 3D object inserted in the aside container */

#aver model-viewer {
    height: 650px;
    width: 500px;
    margin:auto;
    border: none;
}
#aBLOOD {
    height: 800px;
    width: 500px;
    margin:auto;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    border-radius:15px;
}


/* This styles the 3D object inserted in the aside container */

#aBLOOD model-viewer {
    height: 800px;
    width: 500px;
    margin:auto;
    border: none;
}
#aCARM {
    height: 800px;
    width: 500px;
    margin:auto;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    border-radius:15px;
}


/* This styles the 3D object inserted in the aside container */

#aCARM model-viewer {
    height: 800px;
    width: 500px;
    margin:auto;
    border: none;
}
#aULTRA {
    height: 800px;
    width: 500px;
    margin:auto;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    border-radius:15px;
}


/* This styles the 3D object inserted in the aside container */

#aULTRA model-viewer {
    height: 800px;
    width: 500px;
    margin:auto;
    border: none;
}
#aMEMO {
    height: 800px;
    width: 500px;
    margin:auto;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    border-radius:15px;
}


/* This styles the 3D object inserted in the aside container */

#aMEMO model-viewer {
    height: 800px;
    width: 500px;
    margin:auto;
    border: none;
}
#aROBO {
    height: 800px;
    width: 500px;
    margin:auto;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    border-radius:15px;
}


/* This styles the 3D object inserted in the aside container */

#aROBO model-viewer {
    height: 800px;
    width: 500px;
    margin:auto;
    border: none;
}
#aRE {
    height: 800px;
    width: 500px;
    margin:auto;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    border-radius:15px;
}


/* This styles the 3D object inserted in the aside container */

#aRE model-viewer {
    height: 800px;
    width: 500px;
    margin:auto;
    border: none;
}
#aMO {
    height: 800px;
    width: 500px;
    margin:auto;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    border-radius:15px;
}


/* This styles the 3D object inserted in the aside container */

#aMO model-viewer {
    height: 800px;
    width: 500px;
    margin:auto;
    border: none;
}
.attributiontwo {
height: 60px;
bottom: 30px;    
display: block;
padding-top:0px;
font-size: 10px;  
}
.attributiontwo1 {
height: 60px;
bottom: 30px;    
display: block;
padding-top:0px;
font-size: 10px;  
}
.attributiontwo2 {
height: 60px;
bottom: 30px;    
display: block;
padding-top:0px;
padding-left:0px; 
padding-right:0px;  
font-size: 75px;  
}
.h5 {
       text-align: center;
       margin-top:15px; 
       font-size: 10px;
         }    
