

/* This styles the aside container */

#aSide {
    height: 900px;
    width: 900px;
    position: absolute;
    top: calc(7% - 250px);
    right: 25%;
}


/* This styles the 3D object inserted in the aside container */

#aSide model-viewer {
    height: 900px;
    width: 900px;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}
#aSid {
    height: 900px;
    width: 900px;
    position: absolute;
    top: calc(100% - 250px);
    right: 25%;
}


/* This styles the 3D object inserted in the aside container */

#aSid model-viewer {
    height: 900px;
    width: 900px;
    position: absolute;
    top: 50;
    left: 0;
    border: none;
}
